version: '3.8'

services:
  backend:
    image: tradeguess-backend:latest
    build: .
    ports:
      - "8080:8080"
    env_file: .env
    restart: always

  frontend:
    image: tradeguess-frontend:latest
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always